.signin-form {
    width: 550px;
    height: 775px;
    background-color: rgba(44, 19, 87, 0.4);
    backdrop-filter: blur(30px);
    border-radius: 8px;
    padding: 60px 120px;
    transition: .5s;
}

.signin-title {
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;

    margin-top: 35px;
}

.signin-app {
    margin-top: 13px;
    font-weight: 600;
    font-size: 15px;

    color: #663EA8;
}

.signin-form__google {
    margin-top: 35px;
}

.signin-form__google button {
    background: none;
    border: none;
    outline: none;
    border: 1px solid #5C33A0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7644C9;
    transition: 0.25s;
}

.signin-form__google button:hover,
.signin-form__google button:focus {
    color: #8959d6;
    border-color: #8959d6;
    cursor: pointer;
}

.google-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;

}

.signin-form button,
.signin-form input[type="email"],
.signin-form input[type="password"] {
    width: 100%;
    height: 44px;
    border-radius: 8px;
}

.signin__or-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.signin__or-email .title {
    font-weight: 600;
    font-size: 12px;

    color: #663EA8;
}

.signin__or-email .line {
    width: 23%;
    height: 2px;
    background-color: #5C33A0;
    border-radius: 3px;
}

.signin-form__email label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;

    color: #FFFFFF;
}

.signin-form__email input[type="email"],
.signin-form__email input[type="password"] {
    border: none;
    outline: none;
    background-color: #5C33A0;
    border-radius: 8px;
    padding: 0 22px;
    color: #FFFFFF;
    font-weight: 600;
    transition: .25s;
}

.signin-form__email input[type="email"]:hover,
.signin-form__email input[type="password"]:hover,
.signin-form__email input[type="email"]:focus,
.signin-form__email input[type="password"]:focus {
    background-color: #4d278a;
}

.signin-form__email input[type="email"]::placeholder,
.signin-form__email input[type="password"]::placeholder {
    font-weight: 600;
    font-size: 15px;

    color: #7644C9;
}

.signin-addictional {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.signin-addictional .remember-me {
    display: flex;
}

.signin-addictional label {
    margin: 0;
    margin-left: 10px;
    font-size: 12px;

    color: #FFFFFF;
}

.forgot-password {
    font-weight: bold;
    font-size: 12px;

    color: #7F41FF;
}

.signin-footer {
    margin-top: 55px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #7644C9;
}

.enter-btn {
    margin-top: 41px;
    border: none;
    outline: none;
    background-color: #7F41FF;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;

    color: #FFFFFF;
    transition: .25s;
}

.enter-btn:hover,
.enter-btn:focus {
    background-color: #9966ff;
    cursor: pointer;
}

.enter-btn[disabled] {
    background-color: #7051a8;
    color: #afafaf;
    cursor: default;
}

.error {
    margin-bottom: 5px;
    font-size: 12px;
}

.red {
    color: rgb(255, 0, 106);
}

.m15 {
  margin-top: 15px;
}
