  <div class="project-image">
    <img [src]="project.imageURL" alt="Project image">
  </div>

  <div class="project-content">
    <h3 class="project-title">{{ project.title }}</h3>

    <div class="project-tools">
      <a [routerLink]="'/content/project/' + project._id" class="project-edit">
        <img src="../../../assets/imgs/edit-icon.svg" alt="Edit icon">
      </a>

      <div class="project__is-published">
        <input disabled type="checkbox" [checked]="project.isPublished" name="public" id="public">
        <label for="public">опубликовать</label>
      </div>
    </div>
  </div>
