<div class="project">
  <div class="project-image">
    <img src="../../../assets/imgs/project.png" alt="Project image">
  </div>

  <div class="project-content">
    <h3 class="project-title">{{ title }}</h3>

    <div class="project-tools">
      <div class="project-edit">
        <img src="../../../assets/imgs/edit-icon.svg" alt="Edit icon">
      </div>

      <div class="project__ispublished">
        <input type="checkbox" name="public" id="public">
        <label for="public">опубликовать</label>
      </div>
    </div>
  </div>
</div>
