<div class="main" [ngClass]="{ closed: !isMenuOpened }">
  <img class="bg-elem" src="../../../../assets/imgs/bg-img.svg" alt="background image" [ngClass]="{ closed: !isMenuOpened }">

  <div class="main-menu" [ngClass]="{ closed: !isMenuOpened }">
    <div class="menu-logo">
      <div class="left">
        <img src="../../../../assets/imgs/logo.svg" alt="Colibri logo">
        <h3>Colibri Development Company</h3>
      </div>

      <div class="right">
        <img (click)="onBurgerBtnClick()" src="../../../../assets/imgs/burger-icon.svg" alt="Burger icon svg">
      </div>
    </div>

    <div class="links">
      <a class="link" routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
        <img src="../../../../assets/imgs/menu/main.svg" alt="Main icon">
        <span>Главная</span>
      </a>
      <a class="link" routerLink="/content" routerLinkActive="active">
        <img src="../../../../assets/imgs/menu/content.svg" alt="Content icon">
        <span>Content managment</span>
      </a>
    </div>

  </div>

  <router-outlet></router-outlet>
</div>

